.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.App-header {
  background-color: #383841;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
